PaperA_Web/Connected Services/PaperA_Service/PaperAService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64533/PaperAService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PaperA_Service" />
  <xs:element name="GetMenuItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PaperA_Service" minOccurs="0" name="GetMenuItemsResult" nillable="true" type="q1:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PaperA_Service" minOccurs="0" name="GetMenuItemResult" nillable="true" type="q2:MenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Book_Reservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PaperA_Service" minOccurs="0" name="reservation" nillable="true" type="q3:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Book_ReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Book_ReservationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PaperA_Service" minOccurs="0" name="GetReservationResult" nillable="true" type="q4:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Reservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PaperA_Service" minOccurs="0" name="reservation" nillable="true" type="q5:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_ReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_ReservationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>