PaperA_Web/Connected Services/PaperA_Service/PaperAService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaperAService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64533/PaperAService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64533/PaperAService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64533/PaperAService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PaperA_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaperAService_GetMenuItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuItems" />
  </wsdl:message>
  <wsdl:message name="IPaperAService_GetMenuItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IPaperAService_GetMenuItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuItem" />
  </wsdl:message>
  <wsdl:message name="IPaperAService_GetMenuItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuItemResponse" />
  </wsdl:message>
  <wsdl:message name="IPaperAService_Book_Reservation_InputMessage">
    <wsdl:part name="parameters" element="tns:Book_Reservation" />
  </wsdl:message>
  <wsdl:message name="IPaperAService_Book_Reservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:Book_ReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IPaperAService_GetReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReservation" />
  </wsdl:message>
  <wsdl:message name="IPaperAService_GetReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IPaperAService_Update_Reservation_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Reservation" />
  </wsdl:message>
  <wsdl:message name="IPaperAService_Update_Reservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_ReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaperAService">
    <wsdl:operation name="GetMenuItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaperAService/GetMenuItems" message="tns:IPaperAService_GetMenuItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaperAService/GetMenuItemsResponse" message="tns:IPaperAService_GetMenuItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaperAService/GetMenuItem" message="tns:IPaperAService_GetMenuItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaperAService/GetMenuItemResponse" message="tns:IPaperAService_GetMenuItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Book_Reservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaperAService/Book_Reservation" message="tns:IPaperAService_Book_Reservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaperAService/Book_ReservationResponse" message="tns:IPaperAService_Book_Reservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaperAService/GetReservation" message="tns:IPaperAService_GetReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaperAService/GetReservationResponse" message="tns:IPaperAService_GetReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Reservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaperAService/Update_Reservation" message="tns:IPaperAService_Update_Reservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaperAService/Update_ReservationResponse" message="tns:IPaperAService_Update_Reservation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaperAService" type="tns:IPaperAService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMenuItems">
      <soap:operation soapAction="http://tempuri.org/IPaperAService/GetMenuItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuItem">
      <soap:operation soapAction="http://tempuri.org/IPaperAService/GetMenuItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Book_Reservation">
      <soap:operation soapAction="http://tempuri.org/IPaperAService/Book_Reservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservation">
      <soap:operation soapAction="http://tempuri.org/IPaperAService/GetReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Reservation">
      <soap:operation soapAction="http://tempuri.org/IPaperAService/Update_Reservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaperAService">
    <wsdl:port name="BasicHttpBinding_IPaperAService" binding="tns:BasicHttpBinding_IPaperAService">
      <soap:address location="http://localhost:64533/PaperAService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>